<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ruleset for Unity Code" Description="Code analysis rules for code published by Unity Technologies." ToolsVersion="15.0">
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1045" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1504" Action="Info" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1804" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2237" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="CS0078" Action="None" />
    <Rule Id="CS0105" Action="None" />
    <Rule Id="CS0108" Action="None" />
    <Rule Id="CS0109" Action="None" />
    <Rule Id="CS0114" Action="None" />
    <Rule Id="CS0162" Action="None" />
    <Rule Id="CS0164" Action="None" />
    <Rule Id="CS0168" Action="None" />
    <Rule Id="CS0183" Action="None" />
    <Rule Id="CS0184" Action="None" />
    <Rule Id="CS0197" Action="None" />
    <Rule Id="CS0219" Action="None" />
    <Rule Id="CS0251" Action="None" />
    <Rule Id="CS0252" Action="None" />
    <Rule Id="CS0253" Action="None" />
    <Rule Id="CS0278" Action="None" />
    <Rule Id="CS0279" Action="None" />
    <Rule Id="CS0280" Action="None" />
    <Rule Id="CS0282" Action="None" />
    <Rule Id="CS0419" Action="None" />
    <Rule Id="CS0420" Action="None" />
    <Rule Id="CS0435" Action="None" />
    <Rule Id="CS0436" Action="None" />
    <Rule Id="CS0437" Action="None" />
    <Rule Id="CS0440" Action="None" />
    <Rule Id="CS0458" Action="None" />
    <Rule Id="CS0464" Action="None" />
    <Rule Id="CS0465" Action="None" />
    <Rule Id="CS0469" Action="None" />
    <Rule Id="CS0472" Action="None" />
    <Rule Id="CS0473" Action="None" />
    <Rule Id="CS0612" Action="None" />
    <Rule Id="CS0618" Action="None" />
    <Rule Id="CS0626" Action="None" />
    <Rule Id="CS0628" Action="None" />
    <Rule Id="CS0642" Action="None" />
    <Rule Id="CS0652" Action="None" />
    <Rule Id="CS0657" Action="None" />
    <Rule Id="CS0658" Action="None" />
    <Rule Id="CS0659" Action="None" />
    <Rule Id="CS0660" Action="None" />
    <Rule Id="CS0661" Action="None" />
    <Rule Id="CS0665" Action="None" />
    <Rule Id="CS0672" Action="None" />
    <Rule Id="CS0675" Action="None" />
    <Rule Id="CS0684" Action="None" />
    <Rule Id="CS0693" Action="None" />
    <Rule Id="CS0728" Action="None" />
    <Rule Id="CS0809" Action="None" />
    <Rule Id="CS0811" Action="None" />
    <Rule Id="CS0824" Action="None" />
    <Rule Id="CS1030" Action="None" />
    <Rule Id="CS1058" Action="None" />
    <Rule Id="CS1062" Action="None" />
    <Rule Id="CS1064" Action="None" />
    <Rule Id="CS1066" Action="None" />
    <Rule Id="CS1072" Action="None" />
    <Rule Id="CS1522" Action="None" />
    <Rule Id="CS1570" Action="None" />
    <Rule Id="CS1571" Action="None" />
    <Rule Id="CS1572" Action="None" />
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1574" Action="None" />
    <Rule Id="CS1580" Action="None" />
    <Rule Id="CS1581" Action="None" />
    <Rule Id="CS1584" Action="None" />
    <Rule Id="CS1587" Action="None" />
    <Rule Id="CS1589" Action="None" />
    <Rule Id="CS1590" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS1592" Action="None" />
    <Rule Id="CS1616" Action="None" />
    <Rule Id="CS1633" Action="None" />
    <Rule Id="CS1634" Action="None" />
    <Rule Id="CS1635" Action="None" />
    <Rule Id="CS1645" Action="None" />
    <Rule Id="CS1658" Action="None" />
    <Rule Id="CS1668" Action="None" />
    <Rule Id="CS1685" Action="None" />
    <Rule Id="CS1687" Action="None" />
    <Rule Id="CS1690" Action="None" />
    <Rule Id="CS1692" Action="None" />
    <Rule Id="CS1695" Action="None" />
    <Rule Id="CS1696" Action="None" />
    <Rule Id="CS1697" Action="None" />
    <Rule Id="CS1700" Action="None" />
    <Rule Id="CS1701" Action="None" />
    <Rule Id="CS1702" Action="None" />
    <Rule Id="CS1710" Action="None" />
    <Rule Id="CS1711" Action="None" />
    <Rule Id="CS1712" Action="None" />
    <Rule Id="CS1717" Action="None" />
    <Rule Id="CS1718" Action="None" />
    <Rule Id="CS1720" Action="None" />
    <Rule Id="CS1723" Action="None" />
    <Rule Id="CS1734" Action="None" />
    <Rule Id="CS1735" Action="None" />
    <Rule Id="CS1762" Action="None" />
    <Rule Id="CS1927" Action="None" />
    <Rule Id="CS1956" Action="None" />
    <Rule Id="CS1957" Action="None" />
    <Rule Id="CS1974" Action="None" />
    <Rule Id="CS1981" Action="None" />
    <Rule Id="CS1998" Action="None" />
    <Rule Id="CS2002" Action="None" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
    <Rule Id="CS3000" Action="None" />
    <Rule Id="CS3001" Action="None" />
    <Rule Id="CS3002" Action="None" />
    <Rule Id="CS3003" Action="None" />
    <Rule Id="CS3005" Action="None" />
    <Rule Id="CS3006" Action="None" />
    <Rule Id="CS3007" Action="None" />
    <Rule Id="CS3008" Action="None" />
    <Rule Id="CS3009" Action="None" />
    <Rule Id="CS3010" Action="None" />
    <Rule Id="CS3011" Action="None" />
    <Rule Id="CS3012" Action="None" />
    <Rule Id="CS3013" Action="None" />
    <Rule Id="CS3014" Action="None" />
    <Rule Id="CS3015" Action="None" />
    <Rule Id="CS3016" Action="None" />
    <Rule Id="CS3017" Action="None" />
    <Rule Id="CS3018" Action="None" />
    <Rule Id="CS3019" Action="None" />
    <Rule Id="CS3021" Action="None" />
    <Rule Id="CS3022" Action="None" />
    <Rule Id="CS3023" Action="None" />
    <Rule Id="CS3024" Action="None" />
    <Rule Id="CS3026" Action="None" />
    <Rule Id="CS3027" Action="None" />
    <Rule Id="CS4014" Action="None" />
    <Rule Id="CS4024" Action="None" />
    <Rule Id="CS4025" Action="None" />
    <Rule Id="CS4026" Action="None" />
    <Rule Id="CS7033" Action="None" />
    <Rule Id="CS7035" Action="None" />
    <Rule Id="CS7080" Action="None" />
    <Rule Id="CS7081" Action="None" />
    <Rule Id="CS7082" Action="None" />
    <Rule Id="CS7090" Action="None" />
    <Rule Id="CS7095" Action="None" />
    <Rule Id="CS8001" Action="None" />
    <Rule Id="CS8002" Action="None" />
    <Rule Id="CS8009" Action="None" />
    <Rule Id="CS8012" Action="None" />
    <Rule Id="CS8018" Action="None" />
    <Rule Id="CS8019" Action="None" />
    <Rule Id="CS8020" Action="None" />
    <Rule Id="CS8021" Action="None" />
    <Rule Id="CS8029" Action="None" />
    <Rule Id="CS8032" Action="None" />
    <Rule Id="CS8033" Action="None" />
    <Rule Id="CS8034" Action="None" />
    <Rule Id="CS8040" Action="None" />
    <Rule Id="CS8073" Action="None" />
    <Rule Id="CS8094" Action="None" />
    <Rule Id="CS8105" Action="None" />
    <Rule Id="CS8123" Action="None" />
    <Rule Id="CS8305" Action="None" />
    <Rule Id="CS8313" Action="None" />
    <Rule Id="CS8321" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="IDE0032" Action="None" />
    <Rule Id="IDE0032WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0008WithoutSuggestion" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0011WithoutSuggestion" Action="None" />
    <Rule Id="IDE0012" Action="None" />
    <Rule Id="IDE0013" Action="None" />
    <Rule Id="IDE0014" Action="None" />
    <Rule Id="IDE0015" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0016WithoutSuggestion" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0018WithoutSuggestion" Action="None" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0019WithoutSuggestion" Action="None" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0020WithoutSuggestion" Action="None" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE0034" Action="None" />
    <Rule Id="IDE0034WithoutSuggestion" Action="None" />
    <Rule Id="IDE0035" Action="None" />
    <Rule Id="IDE0036" Action="None" />
    <Rule Id="IDE0036WithoutSuggestion" Action="None" />
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0037WithoutSuggestion" Action="None" />
    <Rule Id="IDE0039" Action="None" />
    <Rule Id="IDE0039WithoutSuggestion" Action="None" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0040WithoutSuggestion" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0041WithoutSuggestion" Action="None" />
    <Rule Id="IDE0042" Action="None" />
    <Rule Id="IDE0042WithoutSuggestion" Action="None" />
    <Rule Id="IDE1005" Action="None" />
    <Rule Id="IDE1005WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0010WithoutSuggestion" Action="None" />
    <Rule Id="IDE0033" Action="None" />
    <Rule Id="IDE0033WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1507" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA9999" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1821" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1813" Action="None" />
    <Rule Id="CA1820" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA9999" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA2207" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetFramework.Analyzers" RuleNamespace="Microsoft.NetFramework.Analyzers">
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA9999" Action="None" />
  </Rules>
</RuleSet>