<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ruleset for Unity package code in the UnityEngine and UnityEditor namespaces" Description="Code analysis rules for code published by Unity Technologies." ToolsVersion="15.0">
  <Include Path="api-analyzers/UnityEngineAndUnityEditorCodeInPackages.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1030" Action="None" /> <!-- false positive due to our event property syntax -->    
    <!-- The ones below did not show up in the older version of the analyzer used, so are not fixed or suppressed yet. Review these later. -->
    <Rule Id="CA1801" Action="None" />
  </Rules>
</RuleSet>