InitTestScene*
*.preformat.bak*
*.orig
*.orig.meta
.vs/
.vsconfig
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

*.sln
*.sln*user
*.csproj
*.DotSettings
*.userprefs
.idea/
upm-ci~/
obj/
.DS_Store
docerrors.log

Assets/**/*.api
Assets/**/*.api.meta
Assets/__TestInputAsset.inputactions
Assets/__TestInputAsset.inputactions.meta

Packages/packages-lock.json
Packages/com.unity.inputsystem/artifacts/**
Packages/com.unity.inputsystem/build/**
Packages/com.unity.inputsystem/Documentation~/ApiDocs/**
Packages/com.unity.inputsystem/.DS_Store
Packages/com.unity.inputsystem/.npmrc
Packages/com.unity.inputsystem/**/*.api
Packages/com.unity.inputsystem/**/*.api.meta

Packages/com.unity.package-manager-ui/
Packages/com.unity.package-manager-doctools/

Tools/CI/[Bb]in
Tools/CI/[Oo]bj

.Editor
.bin
.download

!Tools/CI/InputSystem.Cookbook.csproj
!Tools/CI/InputSystem-recipes.sln
