InitTestScene*
*.preformat.bak*
*.orig
*.orig.meta
.vs/
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
Builds/
Logs/
Library/
Temp/
*.sln
*.sln*user
*.csproj
*.DotSettings
*.userprefs
.idea/
obj/
.DS_Store
docerrors.log

Packages/com.unity.inputsystem/artifacts/**
Packages/com.unity.inputsystem/build/**
Packages/com.unity.inputsystem/Documentation~/ApiDocs/**
Packages/com.unity.inputsystem/.DS_Store
Packages/com.unity.inputsystem/.npmrc

Packages/com.unity.package-manager-ui/

.Editor
