InitTestScene*
*.preformat.bak*
.vs/
Assets/Plugins/
Assets/Plugins.meta
Builds/
Library/
Temp/
*.sln
*.sln*user
*.csproj
.idea/
obj/
.DS_Store

Packages/com.unity.inputsystem/artifacts/**
Packages/com.unity.inputsystem/build/**
Packages/com.unity.inputsystem/Documentation/ApiDocs/**
Packages/com.unity.inputsystem/.DS_Store
Packages/com.unity.inputsystem/.npmrc
