.component-select {
    min-width: 200px;
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
    margin: 5px; }
    .component-select__current, .component-select__options {
      border-radius: 4px; }
    .component-select__current {
      font-size: 15px;
      line-height: 24px;
      background-color: rgba(0, 0, 0, 0.09);
      color: rgba(0, 0, 0, 0.54);
      height: 35px;
      padding: 5px 30px 5px 10px;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
      .component-select__current::after {
        font-size: 24px;
        font-size: 1.5rem;
        display: block;
        font-family: 'Roboto', sans-serif;
        content: '∨';
        position: absolute;
        top: 6px;
        right: 10px;
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
        transition: -webkit-transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out; }
      .component-select__current--is-active {
        color: #2196f3;
        background-color: #e3eff8; }
        .component-select__current--is-active::after {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
      .component-select__current--is-disabled {
        cursor: default; }
        .component-select__current--is-disabled::after {
          display: none; }
    .component-select__options-container {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      margin: 1px 0 0;
      padding: 0;
      list-style-type: none;
      background: #ffffff;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
    .component-select .component-select__current--is-active + .component-select__options-container {
      display: block;
      z-index: 1; }
    .component-select__option {
      font-size: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 8px 10px;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .component-select__option:hover {
        background-color: #ededed; }
      .component-select__option::before {
        display: none; }
      .component-select__option--is-active {
        background-color: #e3eff8; }

#version-switcher-ul{
  overflow-y: auto;
  max-height: 300px;
}